In [8]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix
from imblearn.under_sampling import RandomUnderSampler

In [12]:

# Try reading the CSV file
df = pd.read_csv('styles.csv')
df.head(10)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt
5,1855,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Inkfruit Mens Chain Reaction T-shirt
6,30805,Men,Apparel,Topwear,Shirts,Green,Summer,2012.0,Ethnic,Fabindia Men Striped Green Shirt
7,26960,Women,Apparel,Topwear,Shirts,Purple,Summer,2012.0,Casual,Jealous 21 Women Purple Shirt
8,29114,Men,Accessories,Socks,Socks,Navy Blue,Summer,2012.0,Casual,Puma Men Pack of 3 Socks
9,30039,Men,Accessories,Watches,Watches,Black,Winter,2016.0,Casual,Skagen Men Black Watch

In [13]:
df.dtypes

id                      int64
gender                 object
masterCategory         object
subCategory            object
articleType            object
baseColour             object
season                 object
year                  float64
usage                  object
productDisplayName     object
dtype: object

In [14]:
headers = list(df)
headers

['id',
 'gender',
 'masterCategory',
 'subCategory',
 'articleType',
 'baseColour',
 'season',
 'year',
 'usage',
 'productDisplayName']

In [26]:
df.value_counts(['usage'])

usage
Casual          34414
Sports           4025
Ethnic           3208
Formal           2359
Smart Casual       67
Party              29
Travel             26
Home                1
Name: count, dtype: int64

In [32]:
df.value_counts(['masterCategory'])

masterCategory
Apparel           21400
Accessories       11289
Footwear           9222
Personal Care      2404
Free Items          105
Sporting Goods       25
Home                  1
Name: count, dtype: int64

In [33]:
df.value_counts(['subCategory'])

subCategory
Topwear                     15405
Shoes                        7344
Bags                         3055
Bottomwear                   2694
Watches                      2542
Innerwear                    1808
Jewellery                    1080
Eyewear                      1073
Fragrance                    1012
Sandal                        963
Wallets                       933
Flip Flops                    915
Belts                         811
Socks                         698
Lips                          527
Dress                         478
Loungewear and Nightwear      470
Saree                         427
Nails                         329
Makeup                        307
Headwear                      293
Ties                          258
Accessories                   143
Scarves                       118
Cufflinks                     108
Apparel Set                   106
Free Gifts                    104
Stoles                         90
Skin Care                      77
Skin                           69
Eyes                           43
Mufflers                       38
Shoe Accessories               24
Sports Equipment               21
Gloves                         20
Hair                           19
Bath and Body                  12
Water Bottle                    7
Perfumes                        6
Umbrellas                       6
Beauty Accessories              4
Wristbands                      4
Sports Accessories              3
Vouchers                        1
Home Furnishing                 1
Name: count, dtype: int64

In [37]:
num_rows = len(df)
num_rows

44446

In [39]:
# Calculate the number of rows you want to keep (half of the original)
num_rows_to_keep = num_rows // 20

# Randomly sample half of the rows
df_fourth = df.sample(n=num_rows_to_keep, random_state=42)
len(df_fourth)

2222

In [40]:
df_fourth.dtypes

id                      int64
gender                 object
masterCategory         object
subCategory            object
articleType            object
baseColour             object
season                 object
year                  float64
usage                  object
productDisplayName     object
dtype: object

In [45]:
df_fourth.value_counts(['gender'])

gender
Men       1075
Women      960
Unisex     125
Boys        33
Girls       29
Name: count, dtype: int64

In [46]:
df_fourth.value_counts(['masterCategory'])

masterCategory
Apparel           1068
Accessories        555
Footwear           470
Personal Care      120
Free Items           8
Sporting Goods       1
Name: count, dtype: int64

In [47]:
df_fourth.value_counts(['subCategory'])

subCategory
Topwear                     794
Shoes                       377
Bags                        156
Watches                     140
Bottomwear                  110
Innerwear                    92
Eyewear                      55
Sandal                       52
Jewellery                    45
Fragrance                    44
Wallets                      42
Flip Flops                   41
Socks                        33
Belts                        28
Lips                         27
Loungewear and Nightwear     27
Nails                        23
Dress                        22
Saree                        17
Makeup                       17
Ties                         13
Headwear                     11
Accessories                   9
Free Gifts                    8
Stoles                        8
Scarves                       7
Apparel Set                   6
Skin Care                     4
Mufflers                      3
Skin                          3
Eyes                          2
Sports Accessories            2
Cufflinks                     2
Sports Equipment              1
Gloves                        1
Name: count, dtype: int64

In [57]:
df_fourth.value_counts(['articleType'])

# Set pandas display options to show all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Display the value counts
df_fourth.value_counts(['articleType'])

articleType
Tshirts                   358
Shirts                    174
Casual Shoes              149
Watches                   140
Kurtas                    106
Sports Shoes               96
Handbags                   90
Tops                       90
Heels                      64
Sunglasses                 55
Sandals                    51
Briefs                     50
Wallets                    42
Formal Shoes               41
Flip Flops                 41
Backpacks                  35
Socks                      33
Belts                      28
Perfume and Body Mist      28
Bra                        26
Flats                      26
Trousers                   24
Shorts                     23
Nail Polish                23
Dresses                    22
Earrings                   17
Sarees                     17
Clutches                   17
Jeans                      15
Lipstick                   15
Kurtis                     14
Sweatshirts                13
Ties                       13
Deodorant                  13
Track Pants                13
Tunics                     13
Sweaters                   11
Nightdress                 11
Necklace and Chains        10
Caps                       10
Jackets                     9
Kajal and Eyeliner          9
Capris                      9
Innerwear Vests             8
Skirts                      8
Stoles                      8
Leggings                    7
Night suits                 7
Lip Gloss                   7
Scarves                     7
Free Gifts                  7
Messenger Bag               6
Accessory Gift Set          6
Jeggings                    5
Lip Liner                   5
Duffel Bag                  5
Ring                        5
Kurta Sets                  5
Highlighter and Blush       5
Bangle                      5
Laptop Bag                  4
Foundation and Primer       4
Dupatta                     4
Lounge Pants                3
Boxers                      3
Trunk                       3
Face Moisturisers           3
Patiala                     3
Fragrance Gift Set          3
Jewellery Set               3
Mufflers                    3
Pendant                     3
Baby Dolls                  2
Sunscreen                   2
Bath Robe                   2
Bracelet                    2
Camisoles                   2
Mobile Pouch                2
Cufflinks                   2
Wristbands                  2
Sports Sandals              2
Lounge Shorts               2
Footballs                   1
Face Wash and Cleanser      1
Mask and Peel               1
Key chain                   1
Rain Jacket                 1
Rompers                     1
Compact                     1
Tracksuits                  1
Churidar                    1
Salwar                      1
Gloves                      1
Hat                         1
Swimwear                    1
Name: count, dtype: int64

In [54]:
df_fourth.value_counts(['baseColour'])

baseColour
Black             487
White             294
Blue              245
Brown             157
Grey              129
Green             122
Red               109
Navy Blue         106
Pink               99
Purple             77
Silver             46
Yellow             37
Beige              36
Gold               31
Orange             30
Maroon             25
Olive              17
Multi              17
Cream              17
Off White          15
Peach              12
Steel              12
Lavender           11
Khaki              10
Tan                 8
Charcoal            8
Grey Melange        8
Rust                7
Magenta             5
Skin                5
Nude                4
Teal                4
Burgundy            4
Metallic            4
Copper              4
Mustard             4
Rose                3
Turquoise Blue      3
Bronze              3
Taupe               2
Sea Green           1
Mushroom Brown      1
Coffee Brown        1
Lime Green          1
Name: count, dtype: int64

In [50]:
df_fourth.value_counts(['season'])

season
Summer    1039
Fall       587
Winter     440
Spring     154
Name: count, dtype: int64

In [51]:
df_fourth.value_counts(['year'])

year
2012.0    788
2011.0    701
2016.0    324
2017.0    150
2015.0    120
2013.0     49
2010.0     41
2014.0     24
2018.0     23
2009.0      2
Name: count, dtype: int64

In [52]:
df_fourth.value_counts(['usage'])

usage
Casual          1730
Sports           192
Ethnic           168
Formal           109
Party              3
Travel             2
Smart Casual       1
Name: count, dtype: int64

In [53]:
df_fourth.value_counts(['productDisplayName'])

productDisplayName
Polaroid Men Sunglasses                       3
Scullers Men Navy Blue Polo T-Shirts          3
Franco Leone Men Formal Black Formal Shoes    3
Span Women Green Kurta                        3
Fastrack Men Black Dial Watch                 3
                                             ..
Flying Machine Men Printed Blue Tshirts       1
Flying Machine Men FS Solid Brown Shirts      1
Flying Machine Men Checks Grey Sweaters       1
Flying Machine Men Check Brown Shirts         1
iPanema Women Red Flip Flops                  1
Name: count, Length: 2120, dtype: int64

In [62]:
def generate_random_price():
    # Choose a random base price within a realistic range (500 to 3000)
    base_price = np.random.randint(5, 3001) + np.random.choice([0, 0.99, 0.49, 0.95, 0.75, 0.25, 0.5, 0.9, 0.85])
    # Round to 2 decimal places
    return round(base_price, 2)

# Add a new column 'price' with random prices
df_fourth['price'] = [generate_random_price() for _ in range(len(df_fourth))]

# Display the DataFrame
df_fourth.head(10)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,price
29660,40435,Women,Apparel,Topwear,Tops,White,Summer,2012.0,Casual,Tonga Women Multi Colored Top,860.90
16781,18612,Men,Apparel,Topwear,Tshirts,Black,Fall,2011.0,Sports,Puma Men Team SS Black Tshirts,1206.90
18553,21998,Women,Accessories,Bags,Handbags,Blue,Winter,2015.0,Casual,Murcia Women Casual Blue Handbag,985.25
10192,25235,Women,Accessories,Bags,Backpacks,Blue,Winter,2015.0,Casual,Lino Perros Women Blue Backpacks,2203.75
11749,8078,Men,Footwear,Sandal,Sandals,Blue,Fall,2011.0,Casual,ADIDAS Men Zeitfrei Slide Sc Blue Sandals,35.25
43836,45029,Men,Accessories,Watches,Watches,Black,Winter,2016.0,Casual,Maxima Men Black Digital Watch,1558.49
34140,52323,Women,Accessories,Jewellery,Bangle,White,Winter,2016.0,Casual,ToniQ Women Off White Bangle,2221.99
37730,18991,Men,Apparel,Topwear,Tshirts,Black,Summer,2011.0,Casual,ADIDAS Originals Men Grinball Black Tshirt,983.75
36215,7066,Unisex,Accessories,Bags,Backpacks,Black,Summer,2011.0,Sports,Nike Unisex Team Training Black Blue Backpack,10.90
31124,56161,Women,Personal Care,Eyes,Kajal and Eyeliner,Brown,Spring,2017.0,Casual,Colorbar I-Glide Cocobar Eye Pencil 02,2300.75

In [63]:
df_fourth.to_csv('price.csv')

In [71]:
import pandas as pd

# Read the two CSV files into pandas DataFrames
df1 = pd.read_csv("styles.csv")
df2 = pd.read_csv("price.csv")

# Merge the two DataFrames on the common id column
merged_df = pd.merge(df1, df2, on='id', how='inner')

# Create a new column in the merged DataFrame containing the URLs from df2
merged_df['url'] = merged_df['link']

# Drop unnecessary columns
merged_df.drop(['link'], axis=1, inplace=True)

# Write the merged DataFrame to a new CSV file
merged_df.to_csv("merged_file.csv", index=False)